.tardis{
  width:105px;
  height:170px;
  background-position: 560px 175px;
}

.dalek1{
  width:84px;
  height:142px;
  background-position: 910px 330px;
}

.doctor{
  width: 65px;
  height: 172px;
  background-position: 580px 556px;
}
